/* .no01 {
  background-image: url("./assets/images/1.gif");
}

.no02 {
  background-image: url("./assets/images/2.gif");
}

.no03 {
  background-image: url("./assets/images/3.gif");
}

.no04 {
  background-image: url("./assets/images/4.gif");
}

.no05 {
  background-image: url("./assets/images/5.gif");
}

.no06 {
  background-image: url("./assets/images/6.gif");
}

.no07 {
  background-image: url("./assets/images/7.gif");
}

.no08 {
  background-image: url("./assets/images/8.gif");
  margin-top: 0;
}

.no09 {
  background-image: url("./assets/images/9.gif");
}

.no10 {
  background-image: url("./assets/images/10.gif");
}

.no11 {
  background-image: url("./assets/images/11.gif");
}

.no12 {
  background-image: url("./assets/images/12.gif");
}

.no13 {
  background-image: url("./assets/images/13.gif");
} */

.character-1 {
  background-image: url("./assets/images/c1.gif");
  position: absolute;
  width: 20%;
  top: 65.3%;
  left: 27.9%;
}

.character-2 {
  background-image: url("./assets/images/c2.gif");
  position: absolute;
  width: 20%;
  top: 65.8%;
  left: 46.1%;
}

.character-3 {
  background-image: url("./assets/images/c3.gif");
  position: absolute;
  width: 20%;
  top: 65%;
  left: 63%;
}

.character-4 {
  background-image: url("./assets/images/c4.gif");
  position: absolute;
  width: 20%;
  top: 65.7%;
  left: 80%;
}

/* .team-grid {
  position: absolute;
  bottom: 23.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, 12vw);
  grid-template-rows: repeat(2, 12vw);
  column-gap: 3vw;
  row-gap: 3vw;
} */
/* 
.team {
  height: 100%;
  width: 100%;
} */

.team-2 {
  background-image: url("./assets/images/team-ALBANU-1.gif");
}

.team-3 {
  background-image: url("./assets/images/team-ALVARO-1.gif");
}

.team-4 {
  background-image: url("./assets/images/team-DARIO-1.gif");
}

.team-5 {
  background-image: url("./assets/images/team-FABRICIO-1.gif");
}

.team-6 {
  background-image: url("./assets/images/team-FRANZ-1.gif");
}

.team-7 {
  background-image: url("./assets/images/team-JORDY-1.gif");
}

.team-8 {
  background-image: url("./assets/images/team-MAC-1.gif");
}

.team-9 {
  background-image: url("./assets/images/team-OSO-1.gif");
}

.team-10 {
  background-image: url("./assets/images/team-POLLO-1.gif");
}

.team-11 {
  background-image: url("./assets/images/team-SISA-1.gif");
}

.team-12 {
  background-image: url("./assets/images/team-TAMY-1.gif");
}

.team-1 {
  background-image: url("./assets/images/team-TEO-1.gif");
}

.social-web {
  background-image: url("./assets/icons/b1.svg");
}

.social-web:hover {
  background-image: url("./assets/icons/b2.svg");
}

.social-discord {
  background-image: url("./assets/icons/d1.svg");
}

.social-discord:hover {
  background-image: url("./assets/icons/d2.svg");
}

.social-instagram {
  background-image: url("./assets/icons/i1.svg");
}

.social-instagram:hover {
  background-image: url("./assets/icons/i2.svg");
}

.social-tiktok {
  background-image: url("./assets/icons/tk1.svg");
}

.social-tiktok:hover {
  background-image: url("./assets/icons/tk2.svg");
}

.social-twitter {
  background-image: url("./assets/icons/t1.svg");
}

.social-twitter:hover {
  background-image: url("./assets/icons/t2.svg");
}

/* .social-grid {
  position: absolute;
  bottom: 0.4%;
  left: 32%;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 5vw);
  grid-template-rows: 5vw;
  width: 15vw;
  height: 5vw;
  grid-column-gap: 2vw;
}

.social {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.socialbox {
  width: 100%;
  height: 100%;
} */

/* MEDIA QUERIES */

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1400px) {
}
