.character-1 {
  background-image: url("./assets/images/c1.gif");
}

.character-2 {
  background-image: url("./assets/images/c2.gif");
}

.character-3 {
  background-image: url("./assets/images/c3.gif");
}

.character-4 {
  background-image: url("./assets/images/c4.gif");
}

/* .team-grid {
  position: absolute;
  bottom: 23.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, 12vw);
  grid-template-rows: repeat(2, 12vw);
  column-gap: 3vw;
  row-gap: 3vw;
} */
/* 
.team {
  height: 100%;
  width: 100%;
} */

/* .team-fabri {
  background-image: url("./assets/images/team-FABRICIO-1.gif");
}

.team-albanu {
  background-image: url("./assets/images/team-ALBANU-1.gif");
}

.team-dario {
  background-image: url("./assets/images/team-DARIO-1.gif");
}

.team-sisa {
  background-image: url("./assets/images/team-SISA-1.gif");
}

.team-carlitos {
  background-image: url("./assets/images/team-CARLITOS-1.gif");
}

.team-alvaro {
  background-image: url("./assets/images/team-ALVARO-1.gif");
}

.team-jordy {
  background-image: url("./assets/images/team-JORDY-1.gif");
}

.team-teo {
  background-image: url("./assets/images/team-TEO-1.gif");
}

.team-tamy {
  background-image: url("./assets/images/team-TAMY-1.gif");
}

.team-oso {
  background-image: url("./assets/images/team-OSO-1.gif");
} */

.social-web {
  background-image: url("./assets/icons/b1.svg");
}

.social-web:hover {
  background-image: url("./assets/icons/b2.svg");
}

.social-discord {
  background-image: url("./assets/icons/d1.svg");
}

.social-discord:hover {
  background-image: url("./assets/icons/d2.svg");
}

.social-instagram {
  background-image: url("./assets/icons/i1.svg");
}

.social-instagram:hover {
  background-image: url("./assets/icons/i2.svg");
}

.social-tiktok {
  background-image: url("./assets/icons/tk1.svg");
}

.social-tiktok:hover {
  background-image: url("./assets/icons/tk2.svg");
}

.social-twitter {
  background-image: url("./assets/icons/t1.svg");
}

.social-twitter:hover {
  background-image: url("./assets/icons/t2.svg");
}

/* MEDIA QUERIES */

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1400px) {
}
