* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
}

body {
  background-color: #e902e8;
}

footer {
  font-size: 2rem;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.background-image {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.no01 {
  background-image: url("https://drive.google.com/uc?id=10-hK3fBD9DP9Aa7iQwHvuErWDuyrnqK-");
}

.no02 {
  background-image: url("https://drive.google.com/uc?id=1eeRfzMMneM_6KgbYRA4ippmsPH5rS8Vq");
}

.no03 {
  background-image: url("https://drive.google.com/uc?id=1oAOe5eDE8o0MeH2ZKb2hWIbdA7dKIE6a");
}

.no04 {
  background-image: url("https://drive.google.com/uc?id=1GajcPGBvhSz_yCGR0-poTDbH4koY5vJt");
}

.no05 {
  background-image: url("https://drive.google.com/uc?id=1e3yxRPu1_npK38lYKO0xlD5VOPUzcz2V");
}

.no06 {
  background-image: url("https://drive.google.com/uc?id=1mmmEaMoxUg6_dTg7yh787rws7V5hCq1c");
}

.no07 {
  background-image: url("https://drive.google.com/uc?id=1q48cwJer6WV3WDcx_2kM-O1Vum7_4lT_");
}

.no08 {
  background-image: url("https://drive.google.com/uc?id=1THnk8e4PYASf0unFm495Ax2KB2ECgwsL");
}

.no09 {
  background-image: url("https://drive.google.com/uc?id=14CkZCd8b76jW9mS0uS8SKeOo4rQRYpZk");
}

.no10 {
  background-image: url("https://drive.google.com/uc?id=1KvNJd-C7u_Hm1Cr5b5Dir84KTR-zU_lI");
}
