html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  z-index: 0;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

footer {
  font-size: 2rem;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  display: flex;
  margin-top: -1px;
  justify-content: center;
}

.background-image {
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  width: 100vw;
  padding-top: 56.26%;
  margin-top: -1px;
}

.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.26%;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
  z-index: 0;
}

.video-bottom {
  position: absolute;
  overflow: hidden;
  height: auto;
  padding-bottom: 56.26%;
  bottom: 1.5%;
  left: 42%;
  width: 50%;
}

.video-bottom video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
  z-index: 0;
}

.no01 {
  background-image: url("../assets/images/1.gif");
}

.no02 {
  background-image: url("../assets/images/2.gif");
}

.no03 {
  background-image: url("../assets/images/3.gif");
}

.no04 {
  background-image: url("../assets/images/4.gif");
}

.no05 {
  background-image: url("../assets/images/5.gif");
}

.no06 {
  background-image: url("../assets/images/6.gif");
}

.no07 {
  background-image: url("../assets/images/7.gif");
}

.no08 {
  background-image: url("../assets/images/8.gif");
}

.no09 {
  background-image: url("../assets/images/9.gif");
}

.no10 {
  background-image: url("../assets/images/10.gif");
}

.no11 {
  background-image: url("../assets/images/11.gif");
}

.no12 {
  background-image: url("../assets/images/12.gif");
}

.no13 {
  background-image: url("../assets/images/13.gif");
}

.no14 {
  background-image: url("../assets/images/14.gif");
}

.character-1 {
  background-image: url("../assets/images/c1.gif");
  position: absolute;
  width: 20%;
  top: 64.4%;
  left: 27.9%;
}

.character-2 {
  background-image: url("../assets/images/c2.gif");
  position: absolute;
  width: 20%;
  top: 64.8%;
  left: 46.1%;
}

.character-3 {
  background-image: url("../assets/images/c3.gif");
  position: absolute;
  width: 20%;
  top: 64.1%;
  left: 63%;
}

.character-4 {
  background-image: url("../assets/images/c4.gif");
  position: absolute;
  width: 20%;
  top: 64.7%;
  left: 80%;
}

/* GRID */

.team-grid {
  position: absolute;
  bottom: 23.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, 12vw);
  grid-template-rows: repeat(2, 12vw);
  column-gap: 3vw;
  row-gap: 3vw;
}

.team {
  height: 100%;
  width: 100%;
}

.team-2 {
  background-image: url("../assets/images/team-ALBANU-1.gif");
}

.team-3 {
  background-image: url("../assets/images/team-ALVARO-1.gif");
}

.team-4 {
  background-image: url("../assets/images/team-DARIO-1.gif");
}

.team-5 {
  background-image: url("../assets/images/team-FABRICIO-1.gif");
}

.team-6 {
  background-image: url("../assets/images/team-FRANZ-1.gif");
}

.team-7 {
  background-image: url("../assets/images/team-JORDY-1.gif");
}

.team-8 {
  background-image: url("../assets/images/team-MAC-1.gif");
}

.team-9 {
  background-image: url("../assets/images/team-OSO-1.gif");
}

.team-10 {
  background-image: url("../assets/images/team-POLLO-1.gif");
}

.team-11 {
  background-image: url("../assets/images/team-SISA-1.gif");
}

.team-12 {
  background-image: url("../assets/images/team-TAMY-1.gif");
}

.team-1 {
  background-image: url("../assets/images/team-TEO-1.gif");
}

.social-web {
  background-image: url("../assets/icons/BRAINLESS-1.gif");
}

.social-web:hover {
  background-image: url("../assets/icons/BRAINLESS-2.gif");
}

.social-discord {
  background-image: url("../assets/icons/DISCORD-1.gif");
}

.social-discord:hover {
  background-image: url("../assets/icons/DISCORD-2.gif");
}

.social-instagram {
  background-image: url("../assets/icons/INSTAGRAM-1.gif");
}

.social-instagram:hover {
  background-image: url("../assets/icons/INSTAGRAM-2.gif");
}

.social-tiktok {
  background-image: url("../assets/icons/TIKTOK-1.gif");
}

.social-tiktok:hover {
  background-image: url("../assets/icons/TIKTOK-2.gif");
}

.social-twitter {
  background-image: url("../assets/icons/TWITER-1.gif");
}

.social-twitter:hover {
  background-image: url("../assets/icons/TWITER-2.gif");
}

.social-grid {
  position: absolute;
  bottom: 1.8%;
  left: 58%;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 5vw);
  grid-template-rows: 5vw;
  width: 15vw;
  height: 5vw;
  grid-column-gap: 2vw;
}

.social {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.socialbox {
  width: 100%;
  height: 100%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 375px) {
  .video-bottom {
    bottom: 1.3%;
  }
}

@media screen and (min-width: 576px) {
  .video-bottom {
    bottom: 1%;
  }

  .character-1 {
    top: 64.6%;
  }

  .character-2 {
    top: 65.1%;
  }

  .character-3 {
    top: 64.3%;
  }

  .character-4 {
    top: 64.9%;
  }

  .team-grid {
    bottom: 23.4%;
  }

  .social-grid {
    bottom: 1.2%;
  }
}

@media screen and (min-width: 768px) {
  .character-1 {
    top: 64.9%;
  }

  .character-2 {
    top: 65.4%;
  }

  .character-3 {
    top: 64.6%;
  }

  .character-4 {
    top: 65.2%;
  }

  .video-bottom {
    bottom: 0.5%;
  }

  .team-grid {
    bottom: 23%;
  }

  .social-grid {
    bottom: 0.9%;
  }
}

@media screen and (min-width: 1400px) {
  .character-1 {
    top: 65%;
  }

  .character-2 {
    top: 65.5%;
  }

  .character-3 {
    top: 64.8%;
  }

  .character-4 {
    top: 65.4%;
  }

  .team-grid {
    bottom: 22.9%;
  }

  .social-grid {
    bottom: 0.7%;
  }
}
