html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  z-index: 0;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

footer {
  font-size: 2rem;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  display: flex;
  margin-top: -1px;
  justify-content: center;
}

.background-image {
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  width: 100vw;
  padding-top: 56.26%;
  margin-top: -1px;
}

.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.26%;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
  z-index: 0;
}

.video-bottom {
  position: absolute;
  overflow: hidden;
  height: auto;
  padding-bottom: 56.26%;
  bottom: 1.5%;
  left: 42%;
  width: 50%;
}

.video-bottom video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
  z-index: 0;
}

.no01 {
  background-image: url("../assets/images/1.gif");
}

.no02 {
  background-image: url("../assets/images/2.gif");
}

.no03 {
  background-image: url("../assets/images/3.gif");
}

.no04 {
  background-image: url("../assets/images/4.gif");
}

.no05 {
  background-image: url("../assets/images/5.gif");
}

.no06 {
  background-image: url("../assets/images/6.gif");
}

.no07 {
  background-image: url("../assets/images/7.gif");
}

.no08 {
  background-image: url("../assets/images/8.gif");
}

.no09 {
  background-image: url("../assets/images/9.gif");
}

.no10 {
  background-image: url("../assets/images/10.gif");
}

.no11 {
  background-image: url("../assets/images/11.gif");
}

.no12 {
  background-image: url("../assets/images/12.gif");
}

.no13 {
  background-image: url("../assets/images/13.gif");
}

.no14 {
  background-image: url("../assets/images/14.gif");
}

.characteristics-animated {
  background-image: url("../assets/images/characteristics-animated.gif");
  position: absolute;
  width: 70%;
  top: 64.1%;
  left: 28%;
}

@media screen and (min-width: 375px) {
  .video-bottom {
    bottom: 1.3%;
  }
}

@media screen and (min-width: 576px) {
  .video-bottom {
    bottom: 1%;
  }
}

@media screen and (min-width: 768px) {
  .characteristics-animated {
    width: 70%;
    top: 65%;
    left: 28%;
  }

  .video-bottom {
    bottom: 0.5%;
  }
}
