* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
}

footer {
  font-size: 2rem;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.background-image {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.no01 {
  background-image: url("../assets/images/1.gif");
}

.no02 {
  background-image: url("../assets/images/2.gif");
}

.no03 {
  background-image: url("../assets/images/3.gif");
}

.no04 {
  background-image: url("../assets/images/4.gif");
}

.no05 {
  background-image: url("../assets/images/5.gif");
}

.no06 {
  background-image: url("../assets/images/6.gif");
}

.no07 {
  background-image: url("../assets/images/7.gif");
}

.no08 {
  background-image: url("../assets/images/8.gif");
}

.no09 {
  background-image: url("../assets/images/9.gif");
}

.no10 {
  background-image: url("../assets/images/10.gif");
}
